// Header...
header.stickyHeader
    nav.navBar
        //- Left Part of top Nav Bar containing the CICRCLE logo
        .leftOfNav
            a(href='/')
                img(src='/img/CircleLogo.jpg' alt='')
        //- Middle part of top nav bar that has actual page navigation -->
        form.midMainNav
            ul 
                li: a(href='/Category/Textbook') TextBooks
                li: a(href='/Category/Notes') Notes
                li: a(href='/Category/Calculators') Calculators
                li: a(href='/Grade/MYP') MYP
                li: a(href='/Grade/DP') DP
                li: a(href='/FreeStuff') Free Stuff
                //- li: a(href='/SearchTemp') Search
                li: input#navSearchStr.navSearch(type='text', placeholder='Search CIRCLE')
                //- li: input#nvcSearchStr.navSearch(type='text', name='Search', placeholder='Search CIRCLE')
                li: button Search CIRCLE 
        //- Right part of top nav bar that has login and FAQ -->
        .rightOfNav
            //- img.navCTA.navHelp(src='/img/circle/outline_help_outline_black_48dp.png' alt='' )
            //- local variable defined in 'isLoggedIn' function...
            if user
                .loggedInUser
                    a(href='')
                        span.formatUser= user.name.split(' ')[0]
                        .dropDownContent
                            ul
                                li
                                    a(href="/meAddProduct") Add Product 
                                li 
                                    a(href="/meChangePassword") Change Password
                                li 
                                    a(href="/meMyStuff") My Products & Bids
                        //- img.navCTA.ctaMenu(src='/img/circle/me.png' alt='')
                    a(href='/logout')
                        img.navCTA.ctaMenu(src='/img/circle/logout.png' alt='')
            else
                a(href='/login')
                    img.navCTA#ctaLogin(src='/img/circle/login.png' alt='') 
                a(href='/signUp')
                    img.navCTA#ctaLogin(src='/img/circle/signup.png' alt='') 