doctype html 
html 
    head 
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='css/circle.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        title Circle 
    body 
        // Header...
        header.stickyHeader
            nav.navBar
                //- Left Part of top Nav Bar containing the CICRCLE logo
                .leftOfNav
                    img(src='img/CircleLogo.jpg' alt='')
                //- Middle part of top nav bar that has actual page navigation -->
                .midMainNav
                    ul 
                        li: a(href='#') TEXTBOOKS
                        li: a(href='#') NOTES
                        li: a(href='#') ABOUT US
                        li: a(href='#') CONTACT US
                        li: input.navSearch(type='text' name='Search' placeholder='Search CIRCLE')
                //- Right part of top nav bar that has login and FAQ -->
                .rightOfNav
                    img.navCTA#ctaLogin(src='img/outline_person_black_48dp.png' alt='') 
                    img.navCTA.navHelp(src='img/outline_help_outline_black_48dp.png' alt='' )
                    img.navCTA.ctaMenu(src='img/outline_menu_black_48dp.png' alt='')