.boxSection#justAdded
    h3.bodyBoxHeading Just Added
        .boxIMG
            img.imgFormat( src='img/DP BM Lamat.jpg' alt='')
            ul.bookDetails
                li Grade : DP
                li Subject : Business Management
                li Author: Lamat
                li No. of Vendors : 3