extends base

block content 
    form.formLogin
        h1 Login to your account
        br
        br
        label( for='email') Email Address 
        input#loginEmail.inputCheck(type='email', placeholder='name@domain.com', required)
        br
        br
        br
        label( for='password') Password 
        input#loginPassword.inputCheck(type='password', placeholder='********', required, minlength='8')
        br
        br
        button Login
        hr
    form.forgotPassword
        br
        h2 Forgot Password
        label( for='forgotEmail') Email Address 
        input#resetPasswordFor.inputCheck(type='email', placeholder='name@domain.com', required)
        br
        button Send Password Reset Link
        hr
