extends base
block content 
    h2 Change password 
    - let myName = `${user.name}`
    - let myEmail = `${user.email}`
    //- form.meSettingsChgPasswd
    form.showPasswd
        p#myName.doNotDisplay= myName
        p#myEmail.doNotDisplay= myEmail 
        label( for='oldPassword') Current Password 
        input#oldPassword.inputCheck(type='password', placeholder='********', required, minlength='8')
        br
        label( for='newPassword') New Password 
        input#newPassword.inputCheck(type='password', placeholder='********', required, minlength='8')
        br
        label( for='newPasswordConfirm') Confirm New Password 
        input#newPasswordConfirm.inputCheck(type='password', placeholder='********', required, minlength='8')
        br
        br
        button Show/Hide Password-- ...
        br
        br
    form.meSettingsChgPasswd
        button Change Password-- ...
        br
        br
        br