extends base
block content 
    h2 Reset password
    //- - let myName = `${user.name}`
    //- - let myEmail = `${user.email}`
    - let resetTokenPassed = `${resetToken}`
    form.resetUserPassword
        p#userToken= resetTokenPassed
        label( for='resetPassword') New Password
        input#resetPassword.inputCheck(type='password', placeholder='********', required, minlength='8')
        br
        label( for='resetPasswordConfirm') Confirm New Password 
        input#resetPasswordConfirm.inputCheck(type='password', placeholder='********', required, minlength='8')
        br
        br
        button Reset Password
        br
        br
        br