doctype html
html
 head
  title Pug Simple Responsive Table
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/sampleTable.css')
 .content
  table
    tr
      th No
      th name
      th age
      th email
      th number
      th country
    tr
      td 1
      td Alex
      td 22
      td Alex@mail.com
      td +123456789
      td US
    tr
      td 2
      td Martin
      td 28
      td Martin@mail.com
      td +987456321
      td UK
    tr
      td 3
      td John
      td 32
      td John@mail.com
      td +7412589633
      td Brazil
  