doctype html 
html 
    head 
        title Circle 
        link(rel='stylesheet' href='css/circle.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    body 
        // Comment visible in final page
        //- Comment NOT visible in final page
        h1= product
        h1= vendor.toUpperCase()

        h2 Product #{product} available with vendor #{vendor}
        p Some Random text
